<!DOCTYPE html> 
<html ng-app="Demo"> 
<head>     
<title></title>     
<script src="Scripts/angular.min.js"></script>     
<script src="Scripts/script.js"></script>     
<link href="css/Styles.css" rel="stylesheet" /> 
<link href="css/bootstrap.min.css" rel="stylesheet" /> 

</head> 
<body ng-app="myModule">     

<table style="font-family: Arial" class = "table">         
<tr>             
<td colspan="2" class="header">                 
<h1>                     
Admin Panel                
</h1>             
</td>         
</tr>         
<tr> 
<td class="body">  
<div class="container" style = "width: 500px">
  <center>
  <h3>Add product</h3>
  </center>
  <form>
    <div class="form-group">
      <label for="pname">Product Name:</label>
      <input type="text" class="form-control" id="pname" placeholder="Enter name" ng-model="pname" name="pname">
    </div>
	<div class="form-group">
      <label for="ptype">Product Type:</label>
      <input type="email" class="form-control" id="ptype" placeholder="Enter type" ng-model="ptype" name="ptype">
    </div>
	<div class="form-group">
      <label for="pbrand">Product Brand:</label>
      <input type="email" class="form-control" id="pcontact" placeholder="Enter brand" ng-model="pbrand" name="pbrand">
    </div>
    <div class="form-group">
      <label for="pcost">Product Cost:</label>
      <input type="password" class="form-control" id="pcost" placeholder="Enter cost" ng-model="pcost" name="pcost">
	  
    </div>
	<div class="form-group">
      <label for="imagename">Image Name:</label>
      <input type="text" class="form-control" id="imagename" placeholder="Enter image name" ng-model="imagename" name="imagename">
	  
    </div>
    <button type="submit" class="btn btn-primary center-block">Submit</button>
  </form>
</div>   
</td>      
</tr>         
<td colspan="2" class="footer">                 
<b>Website Footer</b>             
</td>         
</tr>     
</table> 
</body> 
</html> 